<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Count</title>
</head>
<style>
    .box{
        background-color: greenyellow;
        padding-left: 55px;
        padding-top: 55px;
        height: 250px;
        width: 250px;
    }

</style>

<body>
    <div class="container"></div>
    <div class="header">
        <h1>Welcome to the Great Number Game!</h1>
        <p>I am thinking of a number between 1 and 100</p>
        <p>Take a guess!!!!!!</p>
    </div>
    <form action='/results' method='post'>
        <input type='text' name="number"><br>
        <input type='submit' value='submit number'>
        </form>
    </div>
    </div>
</body>

</html>